<suite name="Products Management" verbose="1" >
    <test name="Task1 [Chrome]" >
        <classes>
            <class name="tests.TestTask1" />
            <parameter name="browser" value="chrome"/>
        </classes>
    </test>

    <test name="Task1 [Firefox]" >
        <classes>
            <class name="tests.TestTask1" />
            <parameter name="browser" value="firefox"/>
        </classes>
    </test>

    <test name="Task1 [internet explorer]" >
        <classes>
            <class name="tests.TestTask1" />
            <parameter name="browser" value="internet explorer"/>
        </classes>
    </test>

</suite>